@CHARSET "ISO-8859-1";

/*
**********************************************************************************
FOR DARK BACKGROUNDS
*/

div.dynapoll_poll_dark {
        font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	line-height: 1.30em;
	margin-right:2px;
	margin-left: 2px;
	margin-bottom: 10px;
	padding: 4px;
}

div.dynapoll_poll_dark p {
	margin-left: 5px;
	margin-right: 5px;
        margin-bottom:5px;
}

div.dynapoll_poll_dark div.survey_choices {
	margin: 10px 5px 10px 5px;
	color: #c6c6c6;
}

div.dynapoll_poll_dark div#in_choices {
	padding: 4px;
	border: 1px dashed #8fcb67;
	border-left: 5px solid #8fcb67;
	color:#8fcb67;
}

div.dynapoll_poll_dark div#out_choices {
	margin-top: 10px;
	padding: 4px;
	border: 1px dashed #ff8890;
	border-left: 5px solid #ff8890;
	color:#ff8890;
}


div.dynapoll_poll_dark ul.no_dots {
	margin: 5px;
	padding: 0;
	list-style-type: none;
	color:#c6c6c6;
}

div.dynapoll_poll_dark ul.no_dots li {
	margin-bottom:2px;
	background:none;
	}

div.dynapoll_poll_dark ul.indent {
	margin-left: 25px;
}

div.dynapoll_poll_dark form {
	font:10px Verdana;
	margin-right:2px;
	margin-top:5px;
	margin-left:2px;
	padding-top:5px;
	padding-bottom:10px;	
	}

div.dynapoll_poll_dark ul {
	margin:0;
	padding:0;
	list-style-type:none;
	width:99%; 
}

div.dynapoll_poll_dark li {
	display:block;
        margin:0px;
        padding:0px;
	padding:2px 5px 2px 5px;
	clear:both;
}

div.dynapoll_poll_dark input {
	margin-right:5px;
	}

div.dynapoll_poll_dark input.text, div.dynapoll_poll_dark input.file, div.dynapoll_poll_dark textarea.textarea, div.dynapoll_poll_dark select.select {
	margin:0;
	font-size:1.2em;
	padding:2px;
	color:#333;
}

div.dynapoll_poll_dark input.text, div.dynapoll_poll_dark textarea.textarea {
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url("fieldbg.gif") repeat-x top;
}


div.dynapoll_poll_dark input.tiny, div.dynapoll_poll_dark select.tiny {
	width:10%;
}

div.dynapoll_poll_dark input.small, div.dynapoll_poll_dark select.small {
	width:25%;
}
div.dynapoll_poll_dark input.medium, div.dynapoll_poll_dark select.medium {
	width:50%;
}

div.dynapoll_poll_dark input.large, div.dynapoll_poll_dark select.large, div.dynapoll_poll_dark textarea.textarea {
	width:85%;
}

div.dynapoll_poll_dark input.largest, div.dynapoll_poll_dark select.largest, div.dynapoll_poll_dark textarea.textarea {
	width:100%;
}

div.dynapoll_poll_dark input.btTxt {
	padding:1px 4px;
	overflow:visible;
	background-color:#7a5b3e;
	color:white;
	font-weight:bold;
	border:1px solid #585858;
}

div.dynapoll_poll_dark span.dynapoll_remote_poll_link {
	font-size:0.7em;
	color:#585858;
	}




/*
**********************************************************************************
FOR LIGHT BACKGROUNDS
*/


div.dynapoll_poll_light {
        font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	line-height: 1.30em;
	margin-right:2px;
	margin-left: 2px;
	margin-bottom: 10px;
	padding: 4px;
}

div.dynapoll_poll_light p {
	margin-left: 5px;
	margin-right: 5px;
        margin-bottom:5px;
}

div.dynapoll_poll_light div.survey_choices {
	margin: 10px 5px 10px 5px;
	color: #0c0c0c;
	
}

div.dynapoll_poll_light div#in_choices {
	padding: 4px;
	border: 1px dashed #486634;
	border-left: 5px solid #486634;
	background-image: url('in_answers_bg.gif');
	background-repeat: repeat-y;
	color:#486634;
}

div.dynapoll_poll_light div#out_choices {
	margin-top: 10px;
	padding: 4px;
	border: 1px dashed #7e383d;
	border-left: 5px solid #7e383d;
	background-image: url('out_answers_bg.gif');
	background-repeat: repeat-y;
	color:#7e383d;
}


div.dynapoll_poll_light ul.no_dots {
	margin: 5px;
	padding: 0;
	list-style-type: none;
	color:#0c0c0c;
}

div.dynapoll_poll_light ul.no_dots li {
	margin-bottom:2px;
	background:none;
	}

div.dynapoll_poll_light ul.indent {
	margin-left: 15px;
}

div.dynapoll_poll_light form {
	font:10px Verdana;
	margin-right:2px;
	margin-top:5px;
	margin-left:2px;
	padding-top:5px;
	padding-bottom:10px;	
	}

div.dynapoll_poll_light ul {
	margin:0;
	padding:0;
	list-style-type:none;
	width:99%; 
}

div.dynapoll_poll_light li {
	display:block;
        margin:0px;
        padding:0px;
	padding:2px 5px 2px 5px;
	clear:both;
}

div.dynapoll_poll_light input {
	margin-right:5px;
	}

div.dynapoll_poll_light input.text, div.dynapoll_poll_light input.file, div.dynapoll_poll_light textarea.textarea, div.dynapoll_poll_light select.select {
	margin:0;
	font-size:1.2em;
	padding:2px;
	color:#333;
}

div.dynapoll_poll_light input.text, div.dynapoll_poll_light textarea.textarea {
	border-top:1px solid #7c7c7c;
	border-left:1px solid #c3c3c3;
	border-right:1px solid #c3c3c3;
	border-bottom:1px solid #ddd;
	background:#fff url("fieldbg.gif") repeat-x top;
}


div.dynapoll_poll_light input.tiny, div.dynapoll_poll_light select.tiny {
	width:10%;
}

div.dynapoll_poll_light input.small, div.dynapoll_poll_light select.small {
	width:25%;
}
div.dynapoll_poll_light input.medium, div.dynapoll_poll_light select.medium {
	width:50%;
}

div.dynapoll_poll_light input.large, div.dynapoll_poll_light select.large, div.dynapoll_poll_light textarea.textarea {
	width:85%;
}

div.dynapoll_poll_light input.largest, div.dynapoll_poll_light select.largest, div.dynapoll_poll_light textarea.textarea {
	width:100%;
}

div.dynapoll_poll_light input.btTxt {
	padding:1px 4px;
	overflow:visible;
	background-color:#7a5b3e;
	color:white;
	font-weight:bold;
	border:1px solid #585858;
}

div.dynapoll_poll_light span.dynapoll_remote_poll_link {
	font-size:0.7em;
	color:#585858;
	}

















/***** SHARED CSS ACROSS ALL STYLES *****/

/* THE FOLLOWING ARE BEING SENT IN THE VIEW IF THE PLUGIN VERSION BEING USED IS LESS THAN 1.0.4 OR NOT SPECIFIED! */
div.survey_choices label.choice {
	display:block;
	margin:-13px 0 2px 23px;
	padding:0px;
	width:88%;
	float:left;
	margin-right:0.5em;
	text-align:left;
}

div.survey_choices span.survey_choice {
	margin-bottom:3px;
}

div.survey_choices input.radio {
	display:block;
	margin:4px 0 0 4px;
	padding:0;
	width:13px;
}

div.clearer {
	clear:both;
}

/************************************************************************/

span.question_prompt {
	font-weight: bold;
	font-size: 1.1em;
	color: #fa4b00;
}

span.question_text {
	font-weight: bold;
	font-size: 1.1em;
	color: #7a5b3e;
}

div.horiz_bar {
	width: 100px;
	height: 10px;
}

div.high_vote_count {
	background-color: green;
}

div.low_vote_count {
	background-color: orange;
}

span.vote_percentage {
	font-size:0.85em;
	}

div.clearer {
	clear: both;
}